/*!*.modal {*!*/
/*!*    position: fixed;*!*/
/*!*    top: 0;*!*/
/*!*    right: 0;*!*/
/*!*    bottom: 0;*!*/
/*!*    left: 0;*!*/
/*!*    background: rgba(0, 0, 0, 0.5);*!*/
/*!*    z-index: 1050;*!*/
/*!*    opacity: 0;*!*/
/*!*    -webkit-transition: opacity 400ms ease-in;*!*/
/*!*    -moz-transition: opacity 400ms ease-in;*!*/
/*!*    transition: opacity 400ms ease-in;*!*/
/*!*    pointer-events: none;*!*/
/*!*}*!*/

/*!*.modal:target {*!*/
/*!*    opacity: 1;*!*/
/*!*    pointer-events: auto;*!*/
/*!*    overflow-y: auto;*!*/

/*!*}*!*/

/*.modal-dialog {*/
/*    position: relative;*/
/*    width: auto;*/
/*}*/

/*!*@media (min-width: 600px) {*!*/
/*!*    .modal-dialog {*!*/
/*!*        max-width: 600px;*!*/
/*!*        margin: 350px auto;*!*/
/*!*    }*!*/
/*!*}*!*/

/*.modal-content {*/
/*    background-color: #fff;*/
/*    background-clip: padding-box;*/
/*    border: 1px rgba(0, 0, 0, .2);*/
/*    border-radius: .3rem;*/
/*}*/

/*!*@media (min-width: 768px) {*!*/
/*!*    .modal-content {*!*/
/*!*        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);*!*/
/*!*        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);*!*/
/*!*    }*!*/
/*!*}*!*/

/*.modal-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    -webkit-box-pack: justify;*/
/*    justify-content: space-between;*/
/*    padding: 15px;*/
/*    !*border-bottom: 1px solid #eceeef;*!*/
/*    color: #123;*/
/*    margin: 5px;*/
/*}*/

/*.modal-title {*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    line-height: 1.5;*/
/*    font-size: 35px;*/
/*    font-weight: 600;*/
/*}*/

/*!*.close {*!*/
/*!*    float: right;*!*/
/*!*    font-family: sans-serif;*!*/
/*!*    font-size: 30px;*!*/
/*!*    font-weight: 700;*!*/
/*!*    line-height: 1;*!*/
/*!*    color: #000;*!*/
/*!*    text-shadow: 0 1px 0 #fff;*!*/
/*!*    opacity: .5;*!*/
/*!*    text-decoration: none;*!*/
/*!*    padding: 10px;*!*/
/*!*}*!*/

/*!*.close:focus,*!*/
/*!*.close:hover {*!*/
/*!*    color: #000;*!*/
/*!*    text-decoration: none;*!*/
/*!*    cursor: pointer;*!*/
/*!*    opacity: .75;*!*/
/*!*}*!*/

/*.modal-body {*/
/*    background-color: hsl(0, 0%, 98%);*/
/*    color: #333;*/
/*}*/

/*main {*/
/*    margin: 0 auto;*/
/*    padding: 2rem 0;*/
/*    width: 90%;*/
/*    max-width: 60rem;*/
/*}*/

/*form {*/
/*border: 0;*/
/*    border-radius: 20px;*/
/*    padding: 2rem;*/
/*    background-color: hsl(225, 100%, 94%);*/

/*}*/

/*form > *{*/
/*    margin: 35px;*/
/*}*/

/*.full-width {*/
/*    grid-column: span 2;*/
/*}*/

/*button,*/
/*input,*/
/*select{*/
/*    appearance: none;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/

/*}*/

/*input[type="text"],*/
/*input[type="number"],*/
/*select{*/
/*    font: 1.25rem / 1.5 sans-serif;*/
/*    font-size: 30px;*/
/*    display: block;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    padding: 0.5rem 0.75rem;*/
/*}*/

/*select {*/
/*    background: url(https://assets.digitalocean.com/articles/68129/down-arrow.svg) no-repeat center right 0.75rem;*/
/*}*/


/*select,*/
/*input,*/
/*button {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*}*/

/*.large-label {*/
/*    display: inline-block;*/
/*    font-weight: 600;*/
/*    margin-bottom: 0.5rem;*/
/*    font-size: 30px;*/
/*}*/

/*input::placeholder,*/
/*textarea::placeholder {*/
/*    color: hsl(213, 73%, 50%);*/
/*}*/

/*button {*/
/*    font: 1.25rem sans-serif;*/
/*    font-size: 30px;*/
/*    border-radius: 0.25rem;*/
/*    cursor: pointer;*/
/*    padding: 0.75rem 1.25rem;*/
/*}*/

/*button[type="submit"] {*/
/*    background-color: hsl(213, 73%, 50%);*/
/*    color: white;*/
/*}*/
/*button[type="submit"]:hover {*/
/*    background-color: hsl(213, 73%, 40%);*/
/*}*/

/*button[type="reset"] {*/
/*    text-decoration: underline;*/
/*    margin-left: 1rem;*/
/*}*/
/*button[type="reset"]:hover {*/
/*    text-decoration: none;*/
/*}*/

/*input:focus,*/
/*select:focus {*/
/*    outline: none;*/
/*    box-shadow: 0 0 0 4px hsl(213, 90%, 70%);*/
/*    border-radius: 0.25rem;*/
/*}*/

/*button:focus {*/
/*    outline: none;*/
/*    box-shadow: 0 0 0 4px black;*/
/*}*/


#faded-page {
    /*background: rgba(31, 31, 31, 0.5);*/
    width: 100%;
    height: 111%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2000;
}

#faded-page:target {
    display: block;
}

#page {
    width: 900px;
    height: fit-content;
    text-align: center;
    padding: 15px;
    border: 0;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 50%);
}

.modal-header {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid #eceeef;
    color: #123;
    margin: 5px;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 35px;
    font-weight: 600;
}

form {
    border: 0;
    border-radius: 20px;
    /*padding: 2rem;*/
}

form > * {
    margin: 35px;
}


.x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    display: inline-block;
    padding: 0 10px;
    margin: 20px;
    text-decoration: none;
    font-size: 30px;
}

.x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

* {
    box-sizing: border-box;
}


input[type=text],
input[type=number],
select {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(0,0,255,0.5);
    border-radius: 4px;
    resize: vertical;
    font-size: 20px;
}

input::placeholder
{
    color: #858585;
    font-size: 20px;
}

input:focus,
select:focus {
    border: 2px solid #123;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 25px;
    color: rgba(0,0,255,0.5);
    font-weight: 600;
}

button,
input[type=submit],
input[type=reset]
{
    background-color: rgba(0,0,255,0.5);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 25px;
    margin: 5px;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover
{
    background: #123;
}

.col-25 {
    float: left;
    width: 25%;
    /*margin-top: 0px;*/
}

.col-75 {
    float: left;
    width: 65%;
    margin-top: 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
